%doc-btn {
  margin: 1em;
  vertical-align: top;
}

.doc-component-flat-buttons,
.doc-component-raised-buttons {
  .md-card-text .md-btn {
    @extend %doc-btn;
  }
}

.floating-btn-examples .md-btn {
  @extend %doc-btn;
}

.md-speed-dial {
  &.moving {
    position: absolute;
    transition-duration: .45s;
    transition-property: left, top;
  }

  &.inactive {
    @extend %doc-btn;

    position: static;
  }
}
