.nutrition-table .grow {
  @extend %md-data-table-adjusted-padding;

  &.comments {
    padding-right: 0;
  }
}

.table-controls {
  margin-bottom: 3em;
}

.inline-block {
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}
