@import '~helpers';

.logo {
  padding-bottom: 2em;
}

.img-card {
  .md-ink {
    background: rgba($md-white-base, .12);
  }
}

.banner {
  align-items: center;
  background: $md-primary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 400px;
  padding: 2em;

  .md-subheading-2,
  .md-display-2 {
    color: $md-white-base;
  }
}

.home {
  padding-bottom: 5em;
}

.getting-started {
  justify-content: center;

  .md-card {
    max-width: 355px;
    text-decoration: none;
  }
}

.about {
  @extend %centered;

  margin-bottom: 2em;
  padding: 1em 0;

  p {
    @extend %md-title;
    white-space: normal;
  }
}

.react-md-docs {
  .md-navigation-drawer-toolbar {
    &.inactive {
      box-shadow: none;
    }
  }
}
