@import '~helpers';

.uploaded {
  max-width: calc(50% - 8px);

  &.application {
    background: $md-dark-theme-background-color;
  }

  .text-source {
    bottom: 0;
    left: 0;
    padding: 1em;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  .dummy-file {
    color: $md-dark-theme-secondary-text-color;
    font-size: 3em;
    left: 50%;
    position: absolute;
    top: 25%;
    transform: translateX(-50%);
  }
}

.upload-enter {
  transform: scaleY(0);
  transform-origin: top left;

  &.upload-enter-active {
    transform: scaleY(1);
    transition: transform $md-transition-time;
  }
}

.upload-leave {
  transform: scaleY(1);
  transform-origin: top left;


  &.upload-leave-active {
    transform: scaleY(0);
    transition: transform $md-transition-time;
  }
}

.close-btn {
  background: $md-secondary-text-color;
  color: $md-white-base;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

%flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
}

.file-block {
  @extend %flex-nowrap;

  .md-file-input-btn {
    flex-shrink: 0;
  }
}

.submit-block {
  @extend %flex-nowrap;

  align-items: center;
  margin-top: 2em;

  [type="submit"] {
    flex-shrink: 0;
    margin-left: auto;
  }

  .md-body-1 {
    margin: 0;
  }
}


.converter-form {
  .file-block,
  .md-menu-container {
    margin-top: 1em;
  }
}
