@import '~helpers';

// Custom, iPhone Retina
@media only screen and (min-width: 320px) {
  .container {
    width: 300px;
  }

  .component-info {
    padding: 1em;
  }

  .react-doc {
    margin: 4px;
  }
}

// Extra small devices, Phones
@media only screen and (min-width: 480px) {
  .container {
    width: 460px;
  }
}

// Small devices, tablets
@media only screen and (min-width: 768px) {
  .container {
    width: 732px - $md-navigation-drawer-width;
  }
}

// Medium devices, laptops
@media only screen and (min-width: 992px) {
  .container {
    width: 952px - $md-navigation-drawer-width;
  }

  .component-info {
    padding: 1em 2em;
  }

  .react-doc {
    margin: 1em 2em;
  }
}

// Large devices, Wide screens
@media only screen and (min-width: 1200px) {
  .container {
    width: 1152px - $md-navigation-drawer-width;
  }
}
