@import '~helpers';

.container,
.small-container,
.phone-size-container {
  margin: 0 auto;
}

.middle-align {
  align-items: center;
  display: flex;
}

.doc-component-avatars {
  .middle-align {
    padding-bottom: 1em;
    padding-top: 1em;

    > span {
      padding-left: 2em;
    }
  }
}

.md-drawer-header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.react-doc-footer {
  background: $md-grey-900;
  color: $md-white-base;
  margin-top: 5em;
  min-height: 220px;
  padding: 2em;

  .md-title {
    color: inherit;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  .contact {
    flex-shrink: 0;
    padding-right: 2em;
  }
}

.react-doc {
  overflow-x: hidden;

  > .md-card {
    margin-bottom: 1em;
    margin-top: 1em;
  }
}


.example-code {
  background: $md-background-color;
  border-top: 1px solid $md-divider-color;
}

.md-navigation-drawer-content > .text-page {
  background: $md-white-base;
  padding: 2em 0;
}

.component-prop-types {
  .md-card-title {
    padding-left: $md-card-padding-extra;

    + .md-card-text.with-table {
      padding-top: 0;
    }

    .titles {
      flex-grow: 1;
    }
  }

  .md-card-text {
    padding-left: $md-card-padding-extra;

    &.with-table {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.md-data-table {
  .prop-name,
  .prop-info {
    height: initial;
    padding-bottom: $md-default-padding;
    padding-top: $md-default-padding;
    vertical-align: top;
  }

  .prop-desc {
    line-height: $md-line-height;
    margin-top: .5em;
  }

  .prop-type {
    @extend %md-secondary-text;

    padding-right: 1em;
  }

  .prop-required::before {
    color: $md-secondary-text-color;
    content: '(isRequired)';
    padding-left: .5em;
  }
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  margin-left: auto;
}

.component-example .md-card-text {
  color: $md-text-color;
}


.speed-boost {
  max-width: 280px;
}

.speed-boost-content {
  max-height: 165px;
}

.divider-example-container {
  @include md-box-shadow(1);

  margin: 1em auto;
  max-width: 220px;
}

.small-container {
  max-width: 260px;
}

.phone-size-container {
  @include md-tab-mobile();
  max-width: 360px;
}
