@import '~normalize.css/normalize.css';
@import '~md-scss';

@import 'extenders';
@import 'layout';
@import 'prop-types';
@import 'markdown';
@import 'themes';
@import 'phone-size';
@import 'quick-search';
@import 'quick-nav';
@import 'pages/colors';
@import 'pages/cards';
@import 'pages/data-tables';
@import 'pages/home';
@import 'pages/inks';
@import 'pages/buttons';
@import 'pages/lists';
@import 'pages/menus';
@import 'pages/papers';
@import 'pages/select-fields';
@import 'pages/tooltips';
@import 'pages/not-found';

@import 'media-queries';


.upload-enter {
  transform: scaleY(0);
  transform-origin: top left;

  &.upload-enter-active {
    transform: scaleY(1);
    transition: transform $md-transition-time;
  }
}

.upload-leave {
  transform: scaleY(1);
  transform-origin: top left;


  &.upload-leave-active {
    transform: scaleY(0);
    transition: transform $md-transition-time;
  }
}
